body {
    background-color: transparent;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-btn {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

#timer {
    color: #00008B;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer-color {
    color: red;
}
