/* Register Page Specific Styles */
body {
    background: linear-gradient(135deg, #007BFF 0%, #1E90FF 100%);
}

.container {
    animation: fadeIn 1s ease-in-out;
}

.registration-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.registration-option {
    padding: 20px;
    margin: 10px 0;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center; /* Center the content inside the registration-option box */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
}

.registration-option button {
    margin-bottom: 10px; /* Add some space between the button and the link */
}

.registration-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.toggle-link {
    color: #007bff;
    cursor: pointer;
    text-align: center;
}

.toggle-link:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive styles */
@media (max-width: 600px) {
    .registration-methods {
        padding: 15px;
    }

    form {
        padding: 15px;
    }
}
