/* Timer Display Styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
}

#timerDisplay {
    font-family: 'Outfit', sans-serif;
    font-size: 9em;
    text-align: center;
}

.image-container {
    width: 700px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#infiniteImage {
    display: none; /* Initially hidden */
    width: 100%;
    height: 100%;
    object-fit: contain; /* Fit the image within the container */
}

.pulsing-yellow {
    animation: backgroundPulseYellow 1s ease-in-out infinite;
}

.pulsing-red {
    animation: backgroundPulseRed 1s ease-in-out infinite;
}

@keyframes backgroundPulseYellow {
    0%, 100% {
        background-color: white; /* Start and end with white background */
    }
    50% {
        background-color: lightyellow; /* Pulse to light yellow at 50% */
    }
}

@keyframes backgroundPulseRed {
    0%, 100% {
        background-color: white; /* Start and end with white background */
    }
    50% {
        background-color: lightcoral; /* Pulse to light red at 50% */
    }
}

/* Responsive styles */
@media (max-width: 600px) {
    #timerDisplay {
        font-size: 4em;
    }

    .image-container {
        width: 100%;
        height: auto;
    }
}
