<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown Timer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 id="timer">05:00</h1>
    <div class="btn-container">
        <button id="addTime" class="timer-btn">Add 30 seconds</button>
        <button id="subtractTime" class="timer-btn">Subtract 30 seconds</button>
        <button id="pauseResume" class="timer-btn">Pause</button>
        <button id="resetTime" class="timer-btn">Reset to 5 minutes</button>
        <br>
        <input type="color" id="colorPicker" value="#00008B">
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
