<!DOCTYPE html>
<html>
<head>
    <title>Flask Timer</title>
    <script>
        var remaining_time = {{ remaining_time }};
        function countDown() {
            remaining_time--;
            if (remaining_time <= 0) {
                clearInterval(timer);
                document.getElementById("timer").innerHTML = "Time's up!";
            } else {
                var minutes = Math.floor(remaining_time / 60);
                var seconds = remaining_time % 60;
                document.getElementById("timer").innerHTML = minutes + ":" + seconds;
            }
        }
        var timer = setInterval(countDown, 1000);
    </script>
</head>
<body>
    <h1>Flask Timer</h1>
    <p id="timer"></p>
    <button onclick="addTime()">Add 30 Seconds</button>
    <script>
        function addTime() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/add_time');
            xhr.onload = function() {
                remaining_time += 30;
                if (remaining_time > 600) {
                    remaining_time = 600;
                }
            };
            xhr.send();
        }
    </script>
</body>
</html>

